[run]
; This option is not set through the command line because it raises the following error:
; - Options affecting multiprocessing must only be specified in a configuration file.
concurrency = multiprocessing

; Limit coverage measurement to the library source.
source =
    opentelemetry_instrumentation_django_q2

; https://coverage.readthedocs.io/en/coverage-5.5/config.html?highlight=show_missing#run
relative_files=True
omit =
    .mypy_cache/*
    .venv/*

[report]
; https://coverage.readthedocs.io/en/coverage-5.5/config.html?highlight=show_missing#report
show_missing = True
skip_covered = False
